<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>{{title}}</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/models/burger.js"></script>
</head>

<body>
	<h1>Burger</h1>

	<div class="container">

		<h2>Eat the Burger</h2>
		<img src="https://cdn5.vectorstock.com/i/1000x1000/05/29/kawaii-cartoon-burger-fast-food-vector-10610529.jpg"
			id="logo">
	</div>
	{{{ body }}}
</body>

</html>